# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# this repo
data/ignorethese/
/ignorethese
_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py




